# ══════════════════════════════════════════════════════════════════════════════
# VARIABLES DE ENTORNO — COLEGIO HLL (SALA DE COMPUTACIÓN)
# ══════════════════════════════════════════════════════════════════════════════

PORT=3000

# Cadena de conexión a Neon PostgreSQL
# DATABASE_URL=postgresql://usuario:contraseña@ep-ejemplo.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

# Configuración de Correo Electrónico (Notificaciones al Administrador)
SMTP_USER=
SMTP_PASS=
ADMIN_NOTIFICATION_EMAIL=
